@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    @@media (min-width: 768px) {
        .navbar-container {
            position: sticky;
            top: 0;
            overflow-y: auto;
            height: 100vh;
        }

            .navbar-container .navbar {
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: nowrap;
                flex-direction: column;
                height: 100%;
            }

            .navbar-container .navbar-collapse {
                align-items: flex-start;
            }

            .navbar-container .nav {
                flex-direction: column;
                flex-wrap: nowrap;
            }

            .navbar-container .navbar-nav {
                flex-direction: column !important;
            }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 navbar-container bg-light">
            <!-- Вертикальное меню -->
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Пункты вертикального меню -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ExternalExAndEx2" asp-action="Menu1">Menu 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ExternalExAndEx2" asp-action="Menu2">Menu 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ExternalExAndEx2" asp-action="Menu3">Menu3</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
